*{
    padding:0;
    margin:0;
    /* border: 1px solid red; */
}

.page-container{
    width: 700px;
    height: 800px;
    margin: 0 auto;
}

.head{
    width: 680px;
    background-color: black;
    color: white;
    padding: 10px;
}

.your-feed{
    font-size: 28px;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

.your-prof{
    width: 150px;
    height: 275px;
    border: 2px solid black;
    display:flex;
    flex-direction: column;
    padding-left: 50px;
}

.avatar{
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.your-prof a{
    display:block;
    font-size:20px;
    margin-bottom: 40px;
}

.user-container {
    width: 350px;
    border: 2px solid black;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    padding:10px;
    margin-bottom: 20px;
}

h1{
    width: 200px;
    font-size: 26px;
}

.pool{
    display:flex;
    justify-content:space-between;
}

.feed-container{
    width: 400px;
}

#likes{
    width: 80px;
    font-weight:bold;
    display:flex;
    align-items:center;
    margin-bottom: 20px;
}

button{
    font-weight:bold;
    width: 50px;
    height: 25px;
    background-color: #ffd966;
    box-shadow: 3px 3px 3px black;
}
p{
    margin-top: 20px;
    font-size: 20px;
}